* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.startinfo {
  width: 300px;
  background-color: #51abcb;
  padding: 5px 25px 30px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin: 20px 20px 0px; 
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: xx-large;
}

.instruction {
  padding: 5px;
  color: white;
  font-size: small;
  text-align: justify;
}

label {
  color: white;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

input {
  border-radius: 5px;
  border-color: #bee0ec;
}

#start-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border-color: #bee0ec;
}

.hidden {
  display: none;
}

.cont {
  width: 600px;
  margin: 0px 30px 45px 30px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background-color: #e9f5f9;
  border: 2.5px solid #51abcb;
  border-radius: 10px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.cont__left {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.text-number {
  margin: 0;
  font-size: small;
}

.actual-number {
  border: 2px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 20px 0px 0px 0px;
  margin: 15px 0px 20px 0px;
  width: 80px;
  height: 60px;
  font-size: xx-large;
  text-align: center;
}

#play-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border-color: #bee0ec;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cont__right {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}

.turns-text {
  text-align: center;
  font-size: 15px;
}

#turns-counter {
  font-size: 50px;
  margin: 0;
}

.card {
  border: 3px solid black;
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #66b6d2;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-transform: capitalize;
  color: white;
  text-align: center;
  margin: 0px 10px 10px 10px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.number {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.number.matched {
  background-color: green;
}