* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.startinfo {
    width: 300px;
    background-color: #51abcb;
    padding: 5px 25px 30px 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin: 20px 20px 0px; 
    color: white;
    text-align: center;
    font-weight: bolder;
    font-size: xx-large;
}

.instruction {
  padding: 5px;
    color: white;
    font-size: small;
    text-align: justify;
}

label {
    color: white;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

input {
    border-radius: 5px;
    border-color: #bee0ec;
}

button {
    padding: 5px 10px;
    border-radius: 5px;
    border-color: #bee0ec;
}

.card {
  border: 3px solid black;
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #66b6d2;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  text-transform: capitalize;
  color: white;
  text-align: center;
  margin: 0px 10px 10px 10px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.number {
  width: 40px;
  height: 40px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}